<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>更多</title>
  <link rel="stylesheet" href="./more.css">
  <link rel="stylesheet" href="./icon/iconfont.css">
</head>

<body>
  <!-- 头部标签 -->
  <header>
    <div class="w">
      <img src="./images/logo.svg" alt="">
      <span class="iconfont icon-guanbi2"></span>
    </div>
  </header>
  <!-- 主体 -->
  <article>
    <ul class="w">
      <li><a href="#">
        门店
      </a></li>
      <li><a href="#">
        星享俱乐部
      </a></li>
      <li><a href="#">
        菜单
      </a></li>
      <li class="h">
        <hr>
      </li>
      <li><a href="#">
        星巴克移动应用
      </a></li>
      <li><a href="#">
        星礼卡
      </a></li>
      <li><a href="#">
        星巴克臻选™
      </a></li>
      <li><a href="#">
        啡快™ － 在线点 到店取
      </a></li>
      <li><a href="#">
        专星送™
      </a></li>
      <li><a href="#">
        咖啡星讲堂
      </a></li>
      <li><a href="#">
        上海烘培工坊
      </a></li>
      <li><a href="#">
        关于星巴克
      </a></li>
      <li><a href="#">
        帮助中心
      </a></li>
      <li class="h">
        <hr>
      </li>
      <li class="dengl">
        <a href="">
          <img src="./images/icon-account.svg" alt="">
          <span>登录</span>
        </a>
        <a href="">
          <span>注册</span>
        </a>
      </li>
    </ul>
  </article>
  <!-- 页脚 -->
  <footer>
    <div class="w">
      <a href="">English</a>
      <span>|</span>
      <a href="">隐私政策</a>
      <span>|</span>
      <a href="">使用条款</a>
    </div>
  </footer>
</body>

</html>