* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    line-height: 160%;
    width: 100%;
    height: 20vw;
}
.display-1 {
    font-size: 6vw;
}
.container-bom ul {
    display: flex;
    justify-content: space-around;
}
.container-bom ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.56);
    font-size: 4.2vw;
}
.container-bom ul li .black {
    color: black;
    border-bottom: 2px pink solid;
}
.container-bom {
    margin-right: 1vw;
}
.container-top .display-1 {
    margin-left: 16vw;
}
.img1 {
    background: url(./11111.png) no-repeat;
    background-size: 99% 100%;
    height: 5685px;
}

/* 底部页脚 */
.footer {
    width: 100%;
    height: 14vw;
    margin-top: 10vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: #f7f7f7;
  }
  
  .footer_fang {
    width: 16%;
    height: 100%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_fang p a{
    color: #ccc;
    font-size: 4vw;
  }
  .footer_fang img {
    width: 50%;
  }
  .footer_fang p .lv {
    color: green;
  }
  /* 登录 */
.box {
    width: 100%;
    height: 60vw;
    position: relative;
}
.fm {
    display: flex;
    flex-direction: column;
}
.fm .te,
.fm .pa {
    display: block;
    line-height: 10vw;
    margin: 2vw auto 5vw auto;
    width: 60vw;
    border: none;
    border-bottom: 2px red solid;
}
.one {
    position: absolute;
    top:78px;
    right: 74px;
}
.two {
    position: absolute;
    top: 133px;
    right: 54px;
    text-decoration: none;
    font-size: 2vw;
}
.two a {
    color: green;
}
.three {
    position: absolute;
    top:129px;
    left: 94px;
    font-size: 2vw;
}
.four {
    position: absolute;
    top: 160px;
    left: -8px;
}
.che {
    margin-left: -204px;
    border: 1px green solid;
}
.login1 {
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 447px;
    right: 62px;
}
/* 注册 */
.wrapper-app {
    width: 100%;
    height: 532px;
    display: flex;
    flex-direction: column;
}
.wrapper-app-top {
    width: 327px;
    height: 115px;
    margin: 0 auto;
}
.wrapper-app-top h2 {
    font-size: 5vw;
}
.wrapper-app-top p {
    font-size: 4vw;
}
.wrapper-app-top p a {
    color: green;
    font-size: 4vw;
}
.wrapper-app-bom {
    width: 100%;
    height: 417px;
}
.wrapper-app-bom div {
    margin-left:25%;
}