<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>账户</title>
</head>

<body>
  <div class="container">
    <div class="container-top">
      <span class="display-1">
        登录或创建一个新帐户 🌟
      </span>
    </div>
    <div class="container-bom">
      <ul>
        <li><a href="../login.html">登录</a></li>
        <li><a href="../register.html">注册</a></li>
        <li><a href="../account.html" class="black">关于星享俱乐部</a></li>
      </ul>
    </div>
  </div>
  <div class="img1">

  </div>
  <div class="flooter">

  </div>
  <!-- 脚部分 -->
  <div class="footer">
    <div class="footer_fang">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg" alt="">
      <p><a href="../home.html"> 主 页 </a></p>
    </div>
    <div class="footer_fang">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg" alt="">
      <p><a href="../store.html"> 门 店 </a></p>
    </div>
    <div class="footer_fang">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account-active.svg" alt="">
      <p><a href="../account.html" class="lv">我的账户</a></p>
    </div>
    <div class="footer_fang">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu.svg" alt="">
      <p><a href="../menu.html"> 菜 单 </a></p>
    </div>
    <div class="footer_fang">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg" alt="">
      <p><a href="../more.html"> 更 多 </a></p>
    </div>
  </div>

</body>

</html>