<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>菜单</title>
</head>

<body>
	<div class="main">
		<div class="title">
			菜单
		</div>

		<div class="tabs-wrapper">
			<ul>
				<li>
					<a href="" class="first">全部</a>
				</li>
				<li>
					<a href="">饮料</a>
				</li>
				<li>
					<a href="">美食</a>
				</li>
				<li>
					<a href="">咖啡产品</a>
				</li>
				<li>
					<a href="">商品</a>
				</li>
			</ul>
		</div>
	</div>

	<section>
		<div class="guanggao">广告</div>

	</section>


	
	<!-- 脚部分 -->
	<div class="footer">
		<div class="footer_fang"><img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg"
				alt="">
			<p><a href="../home.html">主 页</a></p>
		</div>
		<div class="footer_fang"><img
				src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg" alt="">
			<p><a href="../store.html">门 店</a></p>
		</div>
		<div class="footer_fang"><img
				src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg" alt="">
			<p><a href="../account.html">我的账户</a></p>
		</div>
		<div class="footer_fang"><img
				src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu-active.svg" alt="">
			<p><a href="../menu.html" style="color: #00A862;">菜 单</a></p>
		</div>
		<div class="footer_fang"><img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg"
				alt="">
			<p><a href="../more.html">更 多</a></p>
		</div>
	</div>
</body>

</html>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>菜单</title>
	
</head>

<body>
	<div class="main">
		<div class="title">
			菜单
		</div>
		
		<div class="tabs-wrapper">
			<ul>
				<li>
					<a href="" class="first">全部</a>
				</li>
				<li>
					<a href="">饮料</a>
				</li>
				<li>
					<a href="">美食</a>
				</li>
				<li>
					<a href="">咖啡产品</a>
				</li>
				<li>
					<a href="">商品</a>
				</li>
			</ul>
		</div>
	</div>

	<section>
		<div class="guanggao">广告</div>
		<!-- <div class="menu_list">
			<h3>咖啡融合冰淇淋</h3>
			<ul>
				<li>
					<div style="background: url('./images/10009.jpg');">
					</div>
					<strong>阿馥奇朵™</strong>
				</li>
				<li>
					<div style="background: url('./images/10009.jpg');">
					</div>
					<strong>阿馥奇朵™</strong>
				</li>
				<li>
					<div style="background: url('./images/10009.jpg');">
					</div>
					<strong>阿馥奇朵™</strong>
				</li>
				<li>
					<div style="background: url('./images/10009.jpg');">
					</div>
					<strong>阿馥奇朵™</strong>
				</li>
			</ul>
			<hr>
		</div> -->
	</section>
	
    <!-- 脚部分 -->
    <div class="footer">
		<div class="footer_fang">
		  <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg" alt="">
		  <p><a href=""> 主 页 </a></p>
		</div>
		<div class="footer_fang">
		  <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg" alt="">
		  <p><a href=""> 门 店 </a></p>
		</div>
		<div class="footer_fang">
		  <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg" alt="">
		  <p><a href="">我的账户</a></p>
		</div>
		<div class="footer_fang">
		  <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu-active.svg" alt="">
		  <p><a href=""> 菜 单 </a></p>
		</div>
		<div class="footer_fang">
		  <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg" alt="">
		  <p><a href=""> 更 多 </a></p>
		</div>
	  </div>
  
	<script src="./menu.js"></script>
</body>
	
</html>