body {
  margin: 0;
  padding: 0;
}
.main {
  padding: 4vw 4vw 0 4vw;
}
.main .title {
  font-weight: 700;
  margin-bottom: 2.6vw;
  font-size: 5.73333vw;
}
.main ul {
  padding-left: 0;
  list-style: none;
}
.main ul li {
  display: inline-block;
}
.main ul li .first {
  border-bottom: 3px solid #00A862;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  padding-bottom: 0.4vw;
}
.main ul li a {
  color: rgba(0, 0, 0, 0.56);
  text-decoration: none;
  padding-top: 1.6vw;
  margin-right: 5vw;
  padding: 0.8vw 0;
}
section {
  height: 12600px;
  background-color: rgba(0, 0, 0, 0.04);
}
section .guanggao {
  position: absolute;
  right: 10px;
  padding: 0px 6px;
  color: #fff;
  background-color: #000;
  line-height: 180%;
  opacity: 0.6;
  border-radius: 2px;
  z-index: 200;
}
section h3 {
  padding: 16px;
  color: rgba(0, 0, 0, 0.56);
  font-size: 14px;
  font-weight: 700;
}
section .menu_list hr {
  height: 1px;
  width: 90%;
  margin: 0 auto;
}
section .menu_list ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
section .menu_list li {
  text-align: center;
  width: 40%;
  list-style: none;
}
section .menu_list li div {
  margin: 6px auto 6px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 40vw;
  border-radius: 50%;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.footer {
  width: 100%;
  margin-top: 10vw;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: white;
}
.footer_fang {
  width: 16%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer_fang p {
  margin: 0;
}
.footer_fang p a {
  text-decoration: none;
  color: #ccc;
  font-size: 4vw;
}
.footer_fang img {
  width: 50%;
}
