body {
    margin: 0;
    padding: 0;
}
.tou{
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: 3vw;
    padding: 2vw;
    box-sizing: border-box;
}
.inp{
    width: 100vw;
    height: 14vw;
    display: flex;
    justify-content: flex-start;
    padding: 2vw;
    box-sizing: border-box;
}
.inp div{
    width: 78vw;
    height: 10vw;
    border-bottom: 1px solid;
    position: relative;
}
.inp div>input{
    width: 85%;
    height: 95%;
    font-size: 6vw;
    border: transparent;
}
.inp span{
    display: inline-block;
    font-size: 7vw;
}
.inp div img{
    position: absolute;
    bottom: 0vw;
}
.tu{
    width: 100vw;
    height:80vw;
    position: relative;
}
.tu .btn1{
    width: 6vw;
    height: 6vw;
    background: url(https://webapi.amap.com/theme/v1.3/markers/b/loc_gray.png);
    position: absolute;
    right: 3vw;
}
.dian{
    width: 100vw;
    padding: 2vw;
    box-sizing: border-box;
}
 .box{
    width: 96vw;
    height: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box_left{
    width: 10vw;
    height: 12vw;
    background-color: #B3B3B3;
    background: url(	https://www.starbucks.com.cn/assets/icons/icon-pin-solid-grey.svg);
    background-size: cover;
}
.box_left span{
    display: inline-block;
    color: #FFF;
    text-align: center;
    width: 10vw;
    height: 10vw;
    font-size: 6vw;
}
.box  .box_mid {
    width: 60vw;
    height: 30vw;
}
.box_mid div{
    font-size: 1.5vw;
}
.box_right{
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box_right span{
    display: inline-block;
    width: 5.8vw;
    height: 5.8vw;
    background: url(https://www.starbucks.com.cn/assets/icons/icon-info-green.svg);
}
    

